---
layout: default
title: "Home"
permalink: "/"
---
<ul class="gallery">
{% instagram accesstokenpath:_plugins/instagram-access-token.txt %}
	{% if item.tags contains 'selected' %}
		<li>
			<a href="{{ item.images.standard_resolution.url }}">
				<img src="{{ item.images.thumbnail.url }}" alt="{% if item.caption.text %}{{ item.caption.text }}<br/>{% endif %}{{ item.likes.count }} likes, {{ item.comments.count }} comments" width="150" height="150" />
			</a>
		</li>
	{% endif %}
{% endinstagram %}
</ul>
<a href="https://www.instagram.com/pschfr/?ref=badge" class="ig-b- ig-b-v-24 visible-xs-block">
	<img src="https://badges.instagram.com/static/images/ig-badge-view-24.png" alt="@pschfr on Instagram" />
</a>
