html
	font: 1.6rem/1 $sans-font-family
	position: relative
	min-height: 100%
#test, #sunset
	list-style: none
	padding: 0
	margin: 0
	white-space: nowrap
	overflow-y: scroll
	li
		display: inline-block
footer
	position: absolute
	bottom: 0
	width: 100%
